@keyframes pulse-caption {
  0% {
    width: 200px;
    height: 120px;
  }
  50% {
    width: 220px;
    height: 132px;
  }
  100% {
    width: 200px;
    height: 120px;
  }
}

@keyframes pulse-support {
  0% {
    width: 280px;
  }
  50% {
    width: 300px;
  }
  100% {
    width: 280px;
  }
}

.buy-page {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    z-index: 3;

    &-text {
      width: 50%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-title {
      font-size: 35px;
      font-weight: bold;
      color: #377c93;
    }

    &-caption {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #aa6ec3;
    }

    &-icon {
      width: 15%;
      height: 25%;
    }

    &-price {
      transform: rotate(-90deg);
      width: 20%;
      margin-left: 70px;
      margin-top: -20px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    z-index: 5;
  }

  &__span {
    align-self: start;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    margin-top: -50px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    transition: width .5s ease;

    &:hover{
      width: 200px;
    }

    &-icon {
      width: 180px;
      transition: width .5s ease;
  
      &:hover{
        width: 200px;
      }
    }

    &-code-box {
      display: flex;
      align-items: center;
      width: 170;

      &_bordered {
        border: 3px solid #377c93;
      }
    }

    &-copy {
      width: 12px;
      height: 12px;
      margin-left: 5px;

      &:hover {
        width: 13px;
        height: 13px;
        cursor: pointer;
      }
    }

    &-code {
      text-align: center;
      width: 130px;
      overflow: scroll;
      text-decoration: none;
      color: #888;
    }
  }

  &__caption {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;

    &-img {
      background-color: #fff;
      width: 200px;
      height: 120px;
      transition: width .5s ease, height .5s ease;
      z-index: 7;

      &_acitve {
        animation: pulse-caption 2s infinite;
      }
  
      &:hover{
        width: 250px;
        height: 150px;
        cursor: pointer;
      }
    }

    &-text {
      z-index: 6;
      font-size: 13px;
      margin-left: 10px;
      height: 120px;
      width: 70%;
      opacity: 1;
      overflow: hidden;
      transition: width 1s ease, opacity 2s ease, margin 2s ease ;

      &_hidden {
        margin-left: 0;
        opacity: 0;
        width: 0;
      }
    }
  }

  &__help {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    gap: 20px;

    .buy-page__video{
      &-box{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-title{
        margin-bottom: 10px;
      }
    }

    &-text {
      width: 300px;
      text-align: center;
      color: #377c93;
      font-weight: bold;
      font-size: 16px;
    }

    &-support-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
    }

    &-support {
      width: 280px;
      animation: pulse-support 2s infinite;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .buy-page {
    &__header {
      flex-direction: column;
      align-items: center;

      &-text {
        width: 90%;
      }

      &-icon {
        display: none;
      }

      &-price {
        display: none;
      }
    }

    &__main {
      margin-top: 20px;
    }

    &__span {
      align-self: center;
      margin: 0;
      font-size: 25px;
      text-align: center;
    }

    &__cards {
      margin-top: 0;
      flex-wrap: wrap;
      height: min-content;
    }

    &__caption {
      margin-top: 20px;
      flex-direction: column;
      height: min-content;
      min-height: 300px;

      &-text {
        width: 90%;
        height: fit-content;
        margin: 0;
        margin-top: 10px;

        &_hidden {
          margin-top: -100px;
        }
      }
    }

    &__help {
      flex-direction: column;
      margin-top: 20px;
      height: fit-content;
      
      &-text {
        width: 90%;
      }

      &-support-box {
        height: 200px;
      }
    }
  }
}