.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  justify-content: start;
  z-index: 1;

  &__welcome {
    background-image: url(../../images/title.png);
    width: 350px;
    height: 185px;
  }

  &__title {
    margin-top: -60px;
    font-size: 30px;
    text-align: center;
    width: 500px;
  }

  &__subtitle {
    margin-top: -130px;
    width: 600px;
    margin-bottom: -30px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  &__description {
    width: 70%;
    font-size: 16px;
    text-align: center;
  }

  &__trailer {
    
    &-title {
      z-index: 8;
      margin-top: 20px;
      font-size: 30px;
      font-weight: bold;
    }

    &-video {
      z-index: 8;
    }
  }

  &__title {
    margin-top: -20px;
    width: 250px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 15px;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    font-size: 20px;
  }

  &__description {
    width: 250px;
  }

  &__screenshot {
    margin-top: 10px;
    width: 250px;
    height: 125px;
    background-size: cover;
    filter: blur(3px);
  }

  &__video-icon {
    position: absolute;
    width: 75px;
    left: 90px;
    top: 45px;
    
    &_with-desc {
      top: 80px
    }
  }

  &__txt-icon {
    position: absolute;
    top: 0;
    left: 25px;
    width: 150px;
  }
}

.buy-blok {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  &__description {
    margin-top: 20px;
    width: 75%;
  }

  &__price {
    margin-top: -30px;
    transform: rotate(-90deg);
    width: 225px;
    z-index: 1;
  }

  &__btn {
    margin-top: -150px;
    width: 400px;
    height: 225px;
    margin-bottom: -30px;
    transition: width .5s ease;
    z-index: 2;

    &:hover {
      width: 425px;
      cursor: pointer;
    }
  }
}

.animated-girl {
  width: 400px;
  position: absolute;
  transition: 1s ease-in-out;

  &_position_left-top{
    transform: rotate(25deg);
    top: -100px;
    left: -500px;
  }

  &_position_right-mid{
    transform: rotate(-25deg);
    top: 500px;
    right: -500px;
    z-index: 2;

    &_hidden {
      top: 800px;
      right: -700px;
      opacity: 0;
    }
  }

  &_position_left-bottom{
    bottom: -150px;
    left: -400px;

    &_hidden {
      bottom: -700px;
      left: -700px;
      opacity: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .header {
    &__welcome {
      margin-top: -30px;
    }

    &__title {
      width: 90%;
      font-size: 20px;
    }

    &__subtitle {
      width: 100%;
      margin-top: -100px;
    }
  }

  .content {
    &__description {
      width: 90%;
    }
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .card__txt-icon {
    position: unset;
    align-self: center;
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .buy-blok{
    &__description {
      text-align: center;
      width: 90%;
    }

    &__btn {
      margin-top: -170px;
    }
  }

  .animated-girl {
    width: 100px;

    &_position_left-top{
      transform: rotate(25deg);
      top: 150px;
      left: -40px;
    }

    &_position_right-mid{
      transform: rotate(-25deg);
      width: 150px;
      top: 670px;
      right: -60px;
      z-index: 2;
  
      &_hidden {
        top: 900px;
        right: -100px;
        opacity: 0;
      }
    }
  
    &_position_left-bottom{
      bottom: -150px;
      left: -400px;
  
      &_hidden {
        bottom: -700px;
        left: -700px;
        opacity: 0;
      }
    }


  }
}