.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: .8);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  transition: .5s ease;

  &_hidden {
    right: -40%;
  }

  &__title {
    width: 50%;
    margin-top: -40px;
    margin-bottom: -40px;

    &:hover {
      cursor: pointer;
    }
  }

  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    border-top: 1px #fff solid;
    transition: background-color .5s ease;

    &:hover {
      cursor: pointer;
      background-color: #7ecfc694;
    }

    &:last-of-type {
      border-bottom: 1px #fff solid;
    }

    &-icon {
      width: 50px;
    }

    &-name {
      width: calc(100% - 90px);
      text-align: center;
      color: #fff;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 450px) {
  .side-menu {
    width: 100vw;

    &_hidden {
      right: -100%;
    }

    &__title {
      margin-top: -30px;
      margin-bottom: -30px;
    }
  }
}