.side-bar {
  position: fixed;
  top: 50px;
  right: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1000;

  &__button {
    width: 75px;
    height: 75px;
    background-size: cover;
    cursor: pointer;
  }
}